body {
    background-color: green;
}

nav a {
    color: red;
}

article > p {
    background-color: yellow;
}


div + p {
    background-color: pink;
}

.active {
    color: blanchedalmond;
}

div ~ p {
    background-color: teal;
}

footer a {
    color: darkorchid;
}

a {
    color: darkgreen;
}